In [61]:
import datetime
import time
import re
import numpy as np
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import WebDriverException

URL = 'http://jiro8.sakura.ne.jp/index.php?code=2205050301'

def launch_chrome_driver(is_headless = False):
    options = webdriver.ChromeOptions()
    if is_headless:
        options.add_argument('--headless')
    options.add_argument("--no-sandbox")
    driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)
    return driver

def get_race_index(driver):
    horse_number = Chrome.find_element_by_xpath('/html/body/table[3]/tbody/tr/td[3]/table[3]/tbody/tr[2]').text
    lead_index = Chrome.find_element_by_xpath('/html/body/table[3]/tbody/tr/td[3]/table[3]/tbody/tr[14]').text
    pase_index = Chrome.find_element_by_xpath('/html/body/table[3]/tbody/tr/td[3]/table[3]/tbody/tr[15]').text
    up_index = Chrome.find_element_by_xpath('/html/body/table[3]/tbody/tr/td[3]/table[3]/tbody/tr[16]').text
    speed_index = Chrome.find_element_by_xpath('/html/body/table[3]/tbody/tr/td[3]/table[3]/tbody/tr[17]').text
    return horse_number, lead_index, pase_index, up_index, speed_index

def clean_data(data:str) -> list:
    data_list = data.split(' ')
    return data_list
    
def delete_extra_str(hourse_number):
    return hourse_number[:-1]

Chrome = launch_chrome_driver(True)
Chrome.get(URL)
horse_number, lead_index, pase_index, up_index, speed_index = get_race_index(Chrome)
horse_number = clean_data(horse_number)
horse_number = delete_extra_str(horse_number)
lead_index = clean_data(lead_index)
pase_index = clean_data(pase_index)
up_index = clean_data(up_index)
speed_index = clean_data(speed_index)
df = pd.DataFrame(np.array([horse_number, lead_index, pase_index, up_index, speed_index]).T,
                  columns = ['hourse_number', 'lead_index', 'pase_index', 'up_index', 'speed_index'])
Chrome.close()

In [62]:
df

   hourse_number lead_index pase_index up_index speed_index
0             16     -19.82     -13.82    -7.38       58.78
1             15     -16.79     -10.79   -19.51       49.68
2             14     -17.80     -11.80   -30.64       37.55
3             13     -24.88     -18.88   -15.47       45.64
4             12     -28.92     -22.92   -15.47       41.59
5             11     -22.86     -16.86     3.73       66.87
6             10     -44.09     -38.09     5.76       47.66
7              9     -27.71     -21.71   -12.61       45.66
8              8     -15.78      -9.78   -13.45       56.76
9              7     -30.94     -24.94   -10.41       44.63
10             6     -22.86     -16.86   -14.46       48.67
11             5     -28.92     -22.92   -10.41       46.65
12             4     -38.02     -32.02   -24.57       23.39
13             3     -19.82     -13.82     2.72       68.89
14             2     -26.29     -20.29   -18.03       41.66
15             1     -25.89     -19.89   -27.60       32.49